<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ministry-group-heading"
        data-cy="MinistryGroupCreateUpdateHeading"
        jhiTranslate="poimenApp.ministryGroup.home.createOrEditLabel"
      >
        Create or edit a Ministry Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="poimenApp.ministryGroup.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="poimenApp.ministryGroup.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="poimenApp.ministryGroup.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_establishedDate" jhiTranslate="poimenApp.ministryGroup.establishedDate"
            >Established Date</label
          >
          <div class="d-flex">
            <input
              id="field_establishedDate"
              data-cy="establishedDate"
              type="datetime-local"
              class="form-control"
              name="establishedDate"
              formControlName="establishedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_leader" jhiTranslate="poimenApp.ministryGroup.leader">Leader</label>
          <input type="text" class="form-control" name="leader" id="field_leader" data-cy="leader" formControlName="leader" />
        </div>

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="poimenApp.ministryGroup.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'poimenApp.GroupType.null' | translate }}</option>
            @for (groupType of groupTypeValues; track $index) {
              <option [value]="groupType">{{ 'poimenApp.GroupType.' + groupType | translate }}</option>
            }
          </select>
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_church" jhiTranslate="poimenApp.ministryGroup.church">Church</label>
          <select
            class="form-control"
            id="field_church"
            data-cy="church"
            name="church"
            formControlName="church"
            [compareWith]="compareChurch"
          >
            <option [ngValue]="null"></option>
            @for (churchOption of churchesSharedCollection; track $index) {
              <option [ngValue]="churchOption">{{ churchOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
