<div>
  <h2 id="page-heading" data-cy="MinistryMembershipHeading">
    <span jhiTranslate="poimenApp.ministryMembership.home.title">Ministry Memberships</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="poimenApp.ministryMembership.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ministry-membership"
        [routerLink]="['/ministry-membership/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="poimenApp.ministryMembership.home.createLabel">Create a new Ministry Membership</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (ministryMemberships?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="poimenApp.ministryMembership.home.notFound">No Ministry Memberships found</span>
    </div>
  }

  @if (ministryMemberships && ministryMemberships.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.ministryMembership.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.ministryMembership.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.ministryMembership.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.ministryMembership.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ministryGroup.id">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.ministryMembership.ministryGroup">Ministry Group</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="member.id">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.ministryMembership.member">Member</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ministryMembership of ministryMemberships; track trackId(ministryMembership)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ministry-membership', ministryMembership.id, 'view']">{{ ministryMembership.id }}</a>
              </td>
              <td [jhiTranslate]="'poimenApp.RoleMinistry.' + (ministryMembership.role ?? 'null')">
                {{
                  {
                    null: '',
                    PRESIDENT: 'PRESIDENT',
                    VICE_PRESIDENT: 'VICE_PRESIDENT',
                    FIRST_SECRETARY: 'FIRST_SECRETARY',
                    FIRST_TREASURER: 'FIRST_TREASURER',
                    SECOND_SECRETARY: 'SECOND_SECRETARY',
                    SECOND_TREASURER: 'SECOND_TREASURER',
                    CAUSE_SECRETARY: 'CAUSE_SECRETARY',
                    ASSOCIATE: 'ASSOCIATE',
                  }[ministryMembership.role ?? 'null']
                }}
              </td>
              <td>{{ ministryMembership.startDate | formatMediumDatetime }}</td>
              <td>{{ ministryMembership.endDate | formatMediumDatetime }}</td>
              <td>{{ ministryMembership.status }}</td>
              <td>
                @if (ministryMembership.ministryGroup) {
                  <div>
                    <a [routerLink]="['/ministry-group', ministryMembership.ministryGroup.id, 'view']">{{
                      ministryMembership.ministryGroup.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ministryMembership.member) {
                  <div>
                    <a [routerLink]="['/member', ministryMembership.member.id, 'view']">{{ ministryMembership.member.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ministry-membership', ministryMembership.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/ministry-membership', ministryMembership.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(ministryMembership)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
