<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-appointment-heading" data-cy="AppointmentCreateUpdateHeading" jhiTranslate="poimenApp.appointment.home.createOrEditLabel">
        Create or edit a Appointment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="poimenApp.appointment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let subjectRef = editForm.get('subject')!;
        <div class="mb-3">
          <label class="form-label" for="field_subject" jhiTranslate="poimenApp.appointment.subject">Subject</label>
          <input type="text" class="form-control" name="subject" id="field_subject" data-cy="subject" formControlName="subject" />
          @if (subjectRef.invalid && (subjectRef.dirty || subjectRef.touched)) {
            <div>
              @if (editForm.get('subject')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let startTimeRef = editForm.get('startTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_startTime" jhiTranslate="poimenApp.appointment.startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (startTimeRef.invalid && (startTimeRef.dirty || startTimeRef.touched)) {
            <div>
              @if (editForm.get('startTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endTime" jhiTranslate="poimenApp.appointment.endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="poimenApp.appointment.notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_local" jhiTranslate="poimenApp.appointment.local">Local</label>
          <input type="text" class="form-control" name="local" id="field_local" data-cy="local" formControlName="local" />
        </div>

        @let appointmentTypeRef = editForm.get('appointmentType')!;
        <div class="mb-3">
          <label class="form-label" for="field_appointmentType" jhiTranslate="poimenApp.appointment.appointmentType"
            >Appointment Type</label
          >
          <select
            class="form-control"
            name="appointmentType"
            formControlName="appointmentType"
            id="field_appointmentType"
            data-cy="appointmentType"
          >
            <option [ngValue]="null">{{ 'poimenApp.AppointmentType.null' | translate }}</option>
            @for (appointmentType of appointmentTypeValues; track $index) {
              <option [value]="appointmentType">{{ 'poimenApp.AppointmentType.' + appointmentType | translate }}</option>
            }
          </select>
          @if (appointmentTypeRef.invalid && (appointmentTypeRef.dirty || appointmentTypeRef.touched)) {
            <div>
              @if (editForm.get('appointmentType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_church" jhiTranslate="poimenApp.appointment.church">Church</label>
          <select
            class="form-control"
            id="field_church"
            data-cy="church"
            name="church"
            formControlName="church"
            [compareWith]="compareChurch"
          >
            <option [ngValue]="null"></option>
            @for (churchOption of churchesSharedCollection; track $index) {
              <option [ngValue]="churchOption">{{ churchOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_member" jhiTranslate="poimenApp.appointment.member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_service" jhiTranslate="poimenApp.appointment.service">Service</label>
          <select
            class="form-control"
            id="field_service"
            data-cy="service"
            name="service"
            formControlName="service"
            [compareWith]="compareWorshipEvent"
          >
            <option [ngValue]="null"></option>
            @for (worshipEventOption of worshipEventsSharedCollection; track $index) {
              <option [ngValue]="worshipEventOption">{{ worshipEventOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_group" jhiTranslate="poimenApp.appointment.group">Group</label>
          <select
            class="form-control"
            id="field_group"
            data-cy="group"
            name="group"
            formControlName="group"
            [compareWith]="compareMinistryGroup"
          >
            <option [ngValue]="null"></option>
            @for (ministryGroupOption of ministryGroupsSharedCollection; track $index) {
              <option [ngValue]="ministryGroupOption">{{ ministryGroupOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_counselingSession" jhiTranslate="poimenApp.appointment.counselingSession"
            >Counseling Session</label
          >
          <select
            class="form-control"
            id="field_counselingSession"
            data-cy="counselingSession"
            name="counselingSession"
            formControlName="counselingSession"
            [compareWith]="compareCounselingSession"
          >
            <option [ngValue]="null"></option>
            @for (counselingSessionOption of counselingSessionsSharedCollection; track $index) {
              <option [ngValue]="counselingSessionOption">{{ counselingSessionOption.subject }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="poimenApp.appointment.user">User</label>
          <select
            class="form-control"
            id="field_user"
            data-cy="user"
            name="user"
            formControlName="user"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            @for (applicationUserOption of applicationUsersSharedCollection; track $index) {
              <option [ngValue]="applicationUserOption">{{ applicationUserOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
