<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ministry-membership-heading"
        data-cy="MinistryMembershipCreateUpdateHeading"
        jhiTranslate="poimenApp.ministryMembership.home.createOrEditLabel"
      >
        Create or edit a Ministry Membership
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="poimenApp.ministryMembership.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let roleRef = editForm.get('role')!;
        <div class="mb-3">
          <label class="form-label" for="field_role" jhiTranslate="poimenApp.ministryMembership.role">Role</label>
          <select class="form-control" name="role" formControlName="role" id="field_role" data-cy="role">
            <option [ngValue]="null">{{ 'poimenApp.RoleMinistry.null' | translate }}</option>
            @for (roleMinistry of roleMinistryValues; track $index) {
              <option [value]="roleMinistry">{{ 'poimenApp.RoleMinistry.' + roleMinistry | translate }}</option>
            }
          </select>
          @if (roleRef.invalid && (roleRef.dirty || roleRef.touched)) {
            <div>
              @if (editForm.get('role')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="poimenApp.ministryMembership.startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="poimenApp.ministryMembership.endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="poimenApp.ministryMembership.status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ministryGroup" jhiTranslate="poimenApp.ministryMembership.ministryGroup"
            >Ministry Group</label
          >
          <select
            class="form-control"
            id="field_ministryGroup"
            data-cy="ministryGroup"
            name="ministryGroup"
            formControlName="ministryGroup"
            [compareWith]="compareMinistryGroup"
          >
            <option [ngValue]="null"></option>
            @for (ministryGroupOption of ministryGroupsSharedCollection; track $index) {
              <option [ngValue]="ministryGroupOption">{{ ministryGroupOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_member" jhiTranslate="poimenApp.ministryMembership.member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
