<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-member-heading" data-cy="MemberCreateUpdateHeading" jhiTranslate="poimenApp.member.home.createOrEditLabel">
        Create or edit a Member
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="poimenApp.member.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let firstNameRef = editForm.get('firstName')!;
        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="poimenApp.member.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let lastNameRef = editForm.get('lastName')!;
        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="poimenApp.member.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="poimenApp.member.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber" jhiTranslate="poimenApp.member.phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfBirth" jhiTranslate="poimenApp.member.dateOfBirth">Date Of Birth</label>
          <div class="d-flex">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="datetime-local"
              class="form-control"
              name="dateOfBirth"
              formControlName="dateOfBirth"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="poimenApp.member.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_church" jhiTranslate="poimenApp.member.church">Church</label>
          <select
            class="form-control"
            id="field_church"
            data-cy="church"
            name="church"
            formControlName="church"
            [compareWith]="compareChurch"
          >
            <option [ngValue]="null"></option>
            @for (churchOption of churchesSharedCollection; track $index) {
              <option [ngValue]="churchOption">{{ churchOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_schedules" jhiTranslate="poimenApp.member.schedule">Schedule</label>
          <select
            class="form-control"
            id="field_schedules"
            data-cy="schedule"
            multiple
            name="schedules"
            formControlName="schedules"
            [compareWith]="compareSchedule"
          >
            @for (scheduleOption of schedulesSharedCollection; track $index) {
              <option [ngValue]="scheduleOption">{{ scheduleOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_worshipEvents" jhiTranslate="poimenApp.member.worshipEvent">Worship Event</label>
          <select
            class="form-control"
            id="field_worshipEvents"
            data-cy="worshipEvent"
            multiple
            name="worshipEvents"
            formControlName="worshipEvents"
            [compareWith]="compareWorshipEvent"
          >
            @for (worshipEventOption of worshipEventsSharedCollection; track $index) {
              <option [ngValue]="worshipEventOption">{{ worshipEventOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
