<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task(); as taskRef) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="poimenApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taskRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.title">Title</span></dt>
          <dd>
            <span>{{ taskRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.description">Description</span></dt>
          <dd>
            <span>{{ taskRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.dueDate">Due Date</span></dt>
          <dd>
            <span>{{ taskRef.dueDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'poimenApp.StatusTask.' + (taskRef.status ?? 'null')">{{
              { null: '', PENDING: 'Pending', IN_PROGRESS: 'In Progress', DONE: 'Done' }[taskRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.priority">Priority</span></dt>
          <dd>
            <span [jhiTranslate]="'poimenApp.PriorityTask.' + (taskRef.priority ?? 'null')">{{
              { null: '', LOW: 'Low', MEDIUM: 'Medium', HIGH: 'High' }[taskRef.priority ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.notes">Notes</span></dt>
          <dd>
            <span>{{ taskRef.notes }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.task.church">Church</span></dt>
          <dd>
            @if (task()!.church) {
              <div>
                <a [routerLink]="['/church', task()!.church?.id, 'view']">{{ taskRef.church?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.task.member">Member</span></dt>
          <dd>
            @if (task()!.member) {
              <div>
                <a [routerLink]="['/member', task()!.member?.id, 'view']">{{ taskRef.member?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.task.user">User</span></dt>
          <dd>
            @if (task()!.user) {
              <div>
                <a [routerLink]="['/application-user', task()!.user?.id, 'view']">{{ taskRef.user?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/task', taskRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
