<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hymn(); as hymnRef) {
      <div>
        <h2 data-cy="hymnDetailsHeading"><span jhiTranslate="poimenApp.hymn.detail.title">Hymn</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ hymnRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.title">Title</span></dt>
          <dd>
            <span>{{ hymnRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.lyricsAuthor">Lyrics Author</span></dt>
          <dd>
            <span>{{ hymnRef.lyricsAuthor }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.musicAuthor">Music Author</span></dt>
          <dd>
            <span>{{ hymnRef.musicAuthor }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.hymnary">Hymnary</span></dt>
          <dd>
            <span>{{ hymnRef.hymnary }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.hymnNumber">Hymn Number</span></dt>
          <dd>
            <span>{{ hymnRef.hymnNumber }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.link">Link</span></dt>
          <dd>
            <span>{{ hymnRef.link }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.youtubeLink">Youtube Link</span></dt>
          <dd>
            <span>{{ hymnRef.youtubeLink }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.sheetMusic">Sheet Music</span></dt>
          <dd>
            @if (hymnRef.sheetMusic) {
              <div>
                <a (click)="openFile(hymnRef.sheetMusic ?? '', hymnRef.sheetMusicContentType)" jhiTranslate="entity.action.open">Open</a>
                {{ hymnRef.sheetMusicContentType }}, {{ byteSize(hymnRef.sheetMusic ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.midi">Midi</span></dt>
          <dd>
            @if (hymnRef.midi) {
              <div>
                <a (click)="openFile(hymnRef.midi ?? '', hymnRef.midiContentType)" jhiTranslate="entity.action.open">Open</a>
                {{ hymnRef.midiContentType }}, {{ byteSize(hymnRef.midi ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.tone">Tone</span></dt>
          <dd>
            <span>{{ hymnRef.tone }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.lyrics">Lyrics</span></dt>
          <dd>
            <span>{{ hymnRef.lyrics }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.hymn.services">Services</span></dt>
          <dd>
            @for (services of hymnRef.services; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/worship-event', services.id, 'view']">{{ services?.title }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/hymn', hymnRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
