<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ministryGroup(); as ministryGroupRef) {
      <div>
        <h2 data-cy="ministryGroupDetailsHeading"><span jhiTranslate="poimenApp.ministryGroup.detail.title">Ministry Group</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ministryGroupRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.name">Name</span></dt>
          <dd>
            <span>{{ ministryGroupRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.description">Description</span></dt>
          <dd>
            <span>{{ ministryGroupRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.establishedDate">Established Date</span></dt>
          <dd>
            <span>{{ ministryGroupRef.establishedDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'poimenApp.GroupType.' + (ministryGroupRef.type ?? 'null')">{{
              {
                null: '',
                DEPARTMENT: 'Department',
                INTERNAL_SOCIETY: 'Internal Society',
                DEACON_BOARD: 'Deacon Board',
                CHURCH_COUNCIL: 'Church Council',
              }[ministryGroupRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.church">Church</span></dt>
          <dd>
            @if (ministryGroup()!.church) {
              <div>
                <a [routerLink]="['/church', ministryGroup()!.church?.id, 'view']">{{ ministryGroupRef.church?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.president">President</span></dt>
          <dd>
            @if (ministryGroup()!.president) {
              <div>
                <a [routerLink]="['/member', ministryGroup()!.president?.id, 'view']">{{ ministryGroupRef.president?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.supervisor">Supervisor</span></dt>
          <dd>
            @if (ministryGroup()!.supervisor) {
              <div>
                <a [routerLink]="['/member', ministryGroup()!.supervisor?.id, 'view']">{{ ministryGroupRef.supervisor?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="poimenApp.ministryGroup.members">Members</span></dt>
          <dd>
            @for (members of ministryGroupRef.members; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/member', members.id, 'view']">{{ members?.name }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/ministry-group', ministryGroupRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
