<div>
  <h2 id="page-heading" data-cy="TaskHeading">
    <span jhiTranslate="poimenApp.task.home.title">Tasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="poimenApp.task.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task"
        [routerLink]="['/task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="poimenApp.task.home.createLabel">Create a new Task</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="poimenApp.task.home.search">Search for Task</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'poimenApp.task.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (tasks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="poimenApp.task.home.notFound">No Tasks found</span>
    </div>
  }

  @if (tasks && tasks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.title">Title</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dueDate">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.dueDate">Due Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="priority">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.priority">Priority</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.notes">Notes</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="church.name">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.church">Church</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="member.name">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.member">Member</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.name">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.task.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (task of tasks; track trackId(task)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/task', task.id, 'view']">{{ task.id }}</a>
              </td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.dueDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'poimenApp.StatusTask.' + (task.status ?? 'null')">
                {{ { null: '', PENDING: 'Pending', IN_PROGRESS: 'In Progress', DONE: 'Done' }[task.status ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'poimenApp.PriorityTask.' + (task.priority ?? 'null')">
                {{ { null: '', LOW: 'Low', MEDIUM: 'Medium', HIGH: 'High' }[task.priority ?? 'null'] }}
              </td>
              <td>{{ task.notes }}</td>
              <td>
                @if (task.church) {
                  <div>
                    <a [routerLink]="['/church', task.church.id, 'view']">{{ task.church.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (task.member) {
                  <div>
                    <a [routerLink]="['/member', task.member.id, 'view']">{{ task.member.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (task.user) {
                  <div>
                    <a [routerLink]="['/application-user', task.user.id, 'view']">{{ task.user.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/task', task.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(task)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
