<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-hymn-heading" data-cy="HymnCreateUpdateHeading" jhiTranslate="poimenApp.hymn.home.createOrEditLabel">
        Create or edit a Hymn
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="poimenApp.hymn.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="poimenApp.hymn.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_author" jhiTranslate="poimenApp.hymn.author">Author</label>
          <input type="text" class="form-control" name="author" id="field_author" data-cy="author" formControlName="author" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hymnNumber" jhiTranslate="poimenApp.hymn.hymnNumber">Hymn Number</label>
          <input
            type="text"
            class="form-control"
            name="hymnNumber"
            id="field_hymnNumber"
            data-cy="hymnNumber"
            formControlName="hymnNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lyrics" jhiTranslate="poimenApp.hymn.lyrics">Lyrics</label>
          <input type="text" class="form-control" name="lyrics" id="field_lyrics" data-cy="lyrics" formControlName="lyrics" />
        </div>

        <div class="mb-3">
          <label for="field_worshipEvents" jhiTranslate="poimenApp.hymn.worshipEvent">Worship Event</label>
          <select
            class="form-control"
            id="field_worshipEvents"
            data-cy="worshipEvent"
            multiple
            name="worshipEvents"
            formControlName="worshipEvents"
            [compareWith]="compareWorshipEvent"
          >
            @for (worshipEventOption of worshipEventsSharedCollection; track $index) {
              <option [ngValue]="worshipEventOption">{{ worshipEventOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
