<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-worship-event-heading"
        data-cy="WorshipEventCreateUpdateHeading"
        jhiTranslate="poimenApp.worshipEvent.home.createOrEditLabel"
      >
        Create or edit a Worship Event
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="poimenApp.worshipEvent.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dateRef = editForm.get('date')!;
        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="poimenApp.worshipEvent.date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateRef.invalid && (dateRef.dirty || dateRef.touched)) {
            <div>
              @if (editForm.get('date')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('date')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="poimenApp.worshipEvent.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_guestPreacher" jhiTranslate="poimenApp.worshipEvent.guestPreacher">Guest Preacher</label>
          <input
            type="text"
            class="form-control"
            name="guestPreacher"
            id="field_guestPreacher"
            data-cy="guestPreacher"
            formControlName="guestPreacher"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="poimenApp.worshipEvent.description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_callToWorshipText" jhiTranslate="poimenApp.worshipEvent.callToWorshipText"
            >Call To Worship Text</label
          >
          <input
            type="text"
            class="form-control"
            name="callToWorshipText"
            id="field_callToWorshipText"
            data-cy="callToWorshipText"
            formControlName="callToWorshipText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_confessionOfSinText" jhiTranslate="poimenApp.worshipEvent.confessionOfSinText"
            >Confession Of Sin Text</label
          >
          <input
            type="text"
            class="form-control"
            name="confessionOfSinText"
            id="field_confessionOfSinText"
            data-cy="confessionOfSinText"
            formControlName="confessionOfSinText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_assuranceOfPardonText" jhiTranslate="poimenApp.worshipEvent.assuranceOfPardonText"
            >Assurance Of Pardon Text</label
          >
          <input
            type="text"
            class="form-control"
            name="assuranceOfPardonText"
            id="field_assuranceOfPardonText"
            data-cy="assuranceOfPardonText"
            formControlName="assuranceOfPardonText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lordSupperText" jhiTranslate="poimenApp.worshipEvent.lordSupperText">Lord Supper Text</label>
          <input
            type="text"
            class="form-control"
            name="lordSupperText"
            id="field_lordSupperText"
            data-cy="lordSupperText"
            formControlName="lordSupperText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_benedictionText" jhiTranslate="poimenApp.worshipEvent.benedictionText"
            >Benediction Text</label
          >
          <input
            type="text"
            class="form-control"
            name="benedictionText"
            id="field_benedictionText"
            data-cy="benedictionText"
            formControlName="benedictionText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_confessionalText" jhiTranslate="poimenApp.worshipEvent.confessionalText"
            >Confessional Text</label
          >
          <input
            type="text"
            class="form-control"
            name="confessionalText"
            id="field_confessionalText"
            data-cy="confessionalText"
            formControlName="confessionalText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sermonText" jhiTranslate="poimenApp.worshipEvent.sermonText">Sermon Text</label>
          <textarea
            class="form-control"
            name="sermonText"
            id="field_sermonText"
            data-cy="sermonText"
            formControlName="sermonText"
          ></textarea>
        </div>

        @let sermonFileRef = editForm.get('sermonFile')!;
        <div class="mb-3">
          <label class="form-label" for="field_sermonFile" jhiTranslate="poimenApp.worshipEvent.sermonFile">Sermon File</label>
          <div>
            @if (sermonFileRef.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(sermonFileRef.value!, editForm.get('sermonFileContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start">{{ editForm.get('sermonFileContentType')!.value }}, {{ byteSize(sermonFileRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ sermonFile: undefined, sermonFileContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_sermonFile"
              data-cy="sermonFile"
              (change)="setFileData($event, 'sermonFile', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="sermonFile"
            id="field_sermonFile"
            data-cy="sermonFile"
            formControlName="sermonFile"
          />
          <input
            type="hidden"
            class="form-control"
            name="sermonFileContentType"
            id="field_sermonFileContentType"
            formControlName="sermonFileContentType"
          />
          @if (sermonFileRef.invalid && (sermonFileRef.dirty || sermonFileRef.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sermonLink" jhiTranslate="poimenApp.worshipEvent.sermonLink">Sermon Link</label>
          <input
            type="text"
            class="form-control"
            name="sermonLink"
            id="field_sermonLink"
            data-cy="sermonLink"
            formControlName="sermonLink"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_youtubeLink" jhiTranslate="poimenApp.worshipEvent.youtubeLink">Youtube Link</label>
          <input
            type="text"
            class="form-control"
            name="youtubeLink"
            id="field_youtubeLink"
            data-cy="youtubeLink"
            formControlName="youtubeLink"
          />
        </div>

        @let bulletinFileRef = editForm.get('bulletinFile')!;
        <div class="mb-3">
          <label class="form-label" for="field_bulletinFile" jhiTranslate="poimenApp.worshipEvent.bulletinFile">Bulletin File</label>
          <div>
            @if (bulletinFileRef.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(bulletinFileRef.value!, editForm.get('bulletinFileContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start">{{ editForm.get('bulletinFileContentType')!.value }}, {{ byteSize(bulletinFileRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ bulletinFile: undefined, bulletinFileContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_bulletinFile"
              data-cy="bulletinFile"
              (change)="setFileData($event, 'bulletinFile', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="bulletinFile"
            id="field_bulletinFile"
            data-cy="bulletinFile"
            formControlName="bulletinFile"
          />
          <input
            type="hidden"
            class="form-control"
            name="bulletinFileContentType"
            id="field_bulletinFileContentType"
            formControlName="bulletinFileContentType"
          />
          @if (bulletinFileRef.invalid && (bulletinFileRef.dirty || bulletinFileRef.touched)) {
            <div></div>
          }
        </div>

        @let worshipTypeRef = editForm.get('worshipType')!;
        <div class="mb-3">
          <label class="form-label" for="field_worshipType" jhiTranslate="poimenApp.worshipEvent.worshipType">Worship Type</label>
          <select class="form-control" name="worshipType" formControlName="worshipType" id="field_worshipType" data-cy="worshipType">
            <option [ngValue]="null">{{ 'poimenApp.WorshipType.null' | translate }}</option>
            @for (worshipType of worshipTypeValues; track $index) {
              <option [value]="worshipType">{{ 'poimenApp.WorshipType.' + worshipType | translate }}</option>
            }
          </select>
          @if (worshipTypeRef.invalid && (worshipTypeRef.dirty || worshipTypeRef.touched)) {
            <div>
              @if (editForm.get('worshipType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_church" jhiTranslate="poimenApp.worshipEvent.church">Church</label>
          <select
            class="form-control"
            id="field_church"
            data-cy="church"
            name="church"
            formControlName="church"
            [compareWith]="compareChurch"
          >
            <option [ngValue]="null"></option>
            @for (churchOption of churchesSharedCollection; track $index) {
              <option [ngValue]="churchOption">{{ churchOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_preacher" jhiTranslate="poimenApp.worshipEvent.preacher">Preacher</label>
          <select
            class="form-control"
            id="field_preacher"
            data-cy="preacher"
            name="preacher"
            formControlName="preacher"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_liturgist" jhiTranslate="poimenApp.worshipEvent.liturgist">Liturgist</label>
          <select
            class="form-control"
            id="field_liturgist"
            data-cy="liturgist"
            name="liturgist"
            formControlName="liturgist"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_hymns" jhiTranslate="poimenApp.worshipEvent.hymns">Hymns</label>
          <select
            class="form-control"
            id="field_hymns"
            data-cy="hymns"
            multiple
            name="hymns"
            formControlName="hymns"
            [compareWith]="compareHymn"
          >
            @for (hymnOption of hymnsSharedCollection; track $index) {
              <option [ngValue]="hymnOption">{{ hymnOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_musicians" jhiTranslate="poimenApp.worshipEvent.musicians">Musicians</label>
          <select
            class="form-control"
            id="field_musicians"
            data-cy="musicians"
            multiple
            name="musicians"
            formControlName="musicians"
            [compareWith]="compareMember"
          >
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_participants" jhiTranslate="poimenApp.worshipEvent.participants">Participants</label>
          <select
            class="form-control"
            id="field_participants"
            data-cy="participants"
            multiple
            name="participants"
            formControlName="participants"
            [compareWith]="compareMember"
          >
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
