<div>
  <h2 id="page-heading" data-cy="HymnHeading">
    <span jhiTranslate="poimenApp.hymn.home.title">Hymns</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="poimenApp.hymn.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hymn"
        [routerLink]="['/hymn/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="poimenApp.hymn.home.createLabel">Create a new Hymn</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="poimenApp.hymn.home.search">Search for Hymn</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'poimenApp.hymn.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (hymns?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="poimenApp.hymn.home.notFound">No Hymns found</span>
    </div>
  }

  @if (hymns && hymns.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.title">Title</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lyricsAuthor">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.lyricsAuthor">Lyrics Author</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="musicAuthor">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.musicAuthor">Music Author</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="hymnary">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.hymnary">Hymnary</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="hymnNumber">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.hymnNumber">Hymn Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="link">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.link">Link</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="youtubeLink">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.youtubeLink">Youtube Link</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="sheetMusic">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.sheetMusic">Sheet Music</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="midi">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.midi">Midi</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="tone">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.tone">Tone</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lyrics">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.lyrics">Lyrics</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="services.title">
              <div class="d-flex">
                <span jhiTranslate="poimenApp.hymn.services">Services</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hymn of hymns; track trackId(hymn)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hymn', hymn.id, 'view']">{{ hymn.id }}</a>
              </td>
              <td>{{ hymn.title }}</td>
              <td>{{ hymn.lyricsAuthor }}</td>
              <td>{{ hymn.musicAuthor }}</td>
              <td>{{ hymn.hymnary }}</td>
              <td>{{ hymn.hymnNumber }}</td>
              <td>{{ hymn.link }}</td>
              <td>{{ hymn.youtubeLink }}</td>
              <td>
                @if (hymn.sheetMusic) {
                  <a (click)="openFile(hymn.sheetMusic, hymn.sheetMusicContentType)" jhiTranslate="entity.action.open">Open</a>
                  <span>{{ hymn.sheetMusicContentType }}, {{ byteSize(hymn.sheetMusic) }}</span>
                }
              </td>
              <td>
                @if (hymn.midi) {
                  <a (click)="openFile(hymn.midi, hymn.midiContentType)" jhiTranslate="entity.action.open">Open</a>
                  <span>{{ hymn.midiContentType }}, {{ byteSize(hymn.midi) }}</span>
                }
              </td>
              <td>{{ hymn.tone }}</td>
              <td>{{ hymn.lyrics }}</td>
              <td>
                @for (services of hymn.services; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/worship-event', services.id, 'view']">{{ services.title }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/hymn', hymn.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/hymn', hymn.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(hymn)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
