<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (plan(); as planRef) {
      <div>
        <h2 data-cy="planDetailsHeading"><span jhiTranslate="poimenApp.plan.detail.title">Plan</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ planRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.plan.name">Name</span></dt>
          <dd>
            <span>{{ planRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.plan.price">Price</span></dt>
          <dd>
            <span>{{ planRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.plan.description">Description</span></dt>
          <dd>
            <span>{{ planRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.plan.features">Features</span></dt>
          <dd>
            <span>{{ planRef.features }}</span>
          </dd>
          <dt><span jhiTranslate="poimenApp.plan.renewalPeriod">Renewal Period</span></dt>
          <dd>
            <span>{{ planRef.renewalPeriod }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/plan', planRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
